/* importing Noto Sans HK font from Google Font APIs */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* animations that will be used for the rest of the code */

@keyframes enlargeImage {
    0% {
        height: 25px;
        width: auto;
    }
    50% {
        height: 30px;
        width: auto;
    }
    100% {
        height: 25px;
        width: auto;
    }
}

@webkit-keyframes enlargeImage {
    0% {
        height: 25px;
        width: auto;
    }
    50% {
        height: 30px;
        width: auto;
    }
    100% {
        height: 25px;
        width: auto;
    }
}


/* CSS design that is uniform for the entire website on the body */

:root {
    /* --main-color: #ff6464; */
    /* --main-color: #34a6fb; */
    --main-color: #394d9d;
}

html {
    scroll-behavior: smooth;
}

.arrow:hover {
    animation: enlargeImage 1s ease infinite;
}

body {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #222121;
    user-select: none;
}

.splash {
    display: inline-block;
    border: 2em solid var(--main-color);
    width: 60vw;
}

.content-block {
    display: inline-block;
    border: 1.5em solid var(--main-color);
    width: 61.75vw;
}

.splash h1 {
    text-align: center;
}

.splash h1::first-letter {
    color: var(--main-color);
}

.splash h1:nth-letter(2) {
    color: var(--main-color);
}

.splash h2 {
    text-align: center;
}

h1 {
    font-size: 9vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 7vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

h3 {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 6vw;
    font-weight: 700;
}

.alternative-color {
    color: var(--main-color);
}

button {
    text-align: left;
    outline: 0;
    border: 1px solid #222121;
    background-color: #ffffff;
    font-size: 0.8vw;
    font-weight: 700;
    padding: 1em;
    transition: 0.5s all;
    cursor: pointer;
}

button:hover {
    background-color: #222121;
    color: #ffffff;
}

button:active {
    border-radius: 1em;
    cursor: none;
}

.secondary-button {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.secondary-button:hover {
    background-color: var(--main-color);
}

a {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 0.8vw;
    font-weight: 700;
    padding: 1em 1.7em;
    width: 6em;
    outline: 0;
    color: #222121;
    background-color: #ffffff00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.25s all;
}

a:hover {
    border-bottom: 0.3em solid var(--main-color);
}

a:active {
    background-color: var(--main-color);
    color: #ffffff;
    cursor: none;
    border: none;
}

ul {
    list-style-type: none;
    margin-left: -1.25%;
    padding: 0;
    text-align: right;
}

li {
    display: inline;
    padding-right: 5px;
}

.header {
    position: fixed;
    background-color: #ffffffbd;
    width: 100%;
    margin-top: -1%;
    padding: 12px;
    z-index: 1;
    font-weight: 700;
    font-family: 'Noto Sans HK', sans-serif;
}

.background {
    background: #34a6fb;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

.background td {
    padding: 0;
}

.lava {
    background: #ff6464;
}

.wall {
    background: white;
}

.actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89);
}

.powerup {
    background: green;
}

.monster {
    background: purple;
}

.player {
    background: rgb(64, 64, 64);
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 900px;
    max-height: 675px;
    position: relative;
}