@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
:root {
    --theme-color: #0bd672;
    --active-theme-color: #0bd672c4;
    --black-color: #23201f;
    --active-black-color: #23201fd2;
    --white-color: #ffffff;
    --green-color: #0bd672;
    --pink-color: #ff6464;
    --purple-color: #560628;
    --blue-color: #34a6fb;
    --yellow-color: #ffde17;
    --transparent-color: #00000000;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    /* overflow: hidden; */
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: var(--black-color);
    text-align: center;
}

h1 {
    font-size: 9vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 7vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

h3 {
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--theme-color);
}

h4 {
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--black-color);
}

.splash-div {
    transform: translateY(55%);
    /* background-image: url("game.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat; */
}

.alternative-color-text {
    color: var(--theme-color);
}

a {
    background-color: var(--transparent-color);
    border: none;
    outline: 0;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 800;
    font-size: 0.8vw;
    color: var(--black-color);
    padding: 0.8em 2.4em;
    text-decoration: none;
    transition: 0.2s all;
    cursor: pointer;
}

a:hover {
    border-bottom: 0.4em solid var(--theme-color);
}

a:active {
    color: var(--theme-color);
}

.current-nav-button {
    color: var(--theme-color);
}

.game-nav-button:hover {
    border-bottom: 0.4em solid var(--pink-color);
}

.game-nav-button:active {
    color: var(--pink-color);
}

.logo-nav-button {
    font-size: 1.25vw;
    font-weight: 900;
    margin-right: 5em;
    background-color: var(--theme-color);
    color: var(--white-color);
}

.logo-nav-button:hover {
    background-color: var(--active-theme-color);
    border: none;
}

.logo-nav-button:active {
    color: var(--white-color);
}

ul {
    list-style-type: none;
    margin-left: -1.25%;
    padding: 0;
    text-align: left;
}

li {
    display: inline;
    padding-right: 5px;
}

.header {
    display: inline-block;
    text-align: center;
    position: fixed;
    background-color: #ffffffe1;
    width: 96%;
    /* margin-top: -5.5%; */
    margin-left: -50%;
    padding: 1.5em;
    z-index: 1;
}

.heading-div {
    width: 100%;
    color: var(--white-color);
    background-color: var(--theme-color);
    margin-top: -0.6%;
    margin-left: -0.5%;
}

.content-block {
    display: inline-block;
    font-size: 1.1vw;
    width: 70%;
}

.content-block p {
    text-align: left;
}

button {
    background-color: var(--transparent-color);
    border: 0.2em solid var(--black-color);
    border-radius: 2em;
    outline: 0;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 700;
    font-size: 0.8vw;
    color: var(--black-color);
    padding: 0.8em 1.6em;
    transition: 0.2s all;
    cursor: pointer;
}

button:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

button:active {
    background-color: var(--active-black-color);
    border: 0.2em solid var(--active-black-color);
    color: var(--white-color);
}

.secondary-button {
    border: 0.2em solid var(--theme-color);
}

.secondary-button:hover {
    background-color: var(--theme-color);
}

.secondary-button:active {
    background-color: var(--active-theme-color);
    border: 0.2em solid var(--active-theme-color);
}

.white-button {
    border-color: var(--white-color);
    color: var(--white-color);
}

.white-button:hover {
    background-color: var(--white-color);
    color: var(--theme-color);
}

.white-button:active {
    background-color: #ffffff9d;
    border-color: var(--white-color);
}

.background {
    background: var(--blue-color);
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

.background td {
    padding: 0;
}

.lava {
    background: var(--pink-color);
}

.wall {
    background: var(--white-color);
}

.actor {
    position: absolute;
}

.coin {
    background: var(--yellow-color);
}

.powerup {
    background: var(--green-color);
}

.monster {
    background: var(--purple-color);
}

.player {
    background: var(--black-color);
}

.lost .player {
    background: #a04040;
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 800px;
    max-height: 600px;
    position: relative;
}